@import url("./design_tokens/color_tokens.css");
@import url("./design_tokens/typography_tokens.css");
@import url("./design_tokens/spacing_tokens.css");
@import url("./design_tokens/components.css");

.sideNav {
  width: 224px;
  padding-right: var(--space-24);
  height: 100vh;
  min-height: 100vh;
  background-color: var(--surface-card);
  border-radius: 0 20px 0px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  transition: width 200ms linear, padding 200ms linear;
  /* overflow: hidden; */
}

.sideNav.collapsed {
  width: 68px;
  padding-right: 0;
}

.sideNavTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-20);
}

.brandLogo {
  width: 200px;
  padding: var(--space-24) var(--space-0) var(--space-0) var(--space-12);
}

/* .brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
} */

.collapseToggle {
  position: absolute;
  bottom: 0px;
  right: -24px;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: var(--space-20) 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-section-300);
  color: var(--text-secondary-200);
  cursor: pointer;
  z-index: 2;

  svg {
    width: var(--icon-size-24);
    height: var(--icon-size-24);
    transform: scale(1.35) translateX(-2px);
  }
}

.sideNav.collapsed .brandLogo {
  width: var(--icon-size-48);
}

.sideNavLinks {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.pauseTimePanel {
  margin: var(--space-8) 0 0 var(--space-12);
  padding: var(--space-12);
  border-radius: 18px;
  background-color: var(--primary-200);
  border: 1px solid var(--primary-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  width: calc(100% - var(--space-12));
  color: var(--text-primary);
}

.pauseTimeLabel {
  font-family: var(--text-heading-3-font-family);
  font-size: var(--text-heading-3-font-size);
}

.pauseTimeValue {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-lg);
  font-weight: var(--text-heading-1-font-weight);
}

.pauseEndButton {
  margin: 0;
  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
  border: 2px solid var(--button-secondary-border);
  /* border: 0; */
  background-color: var(--button-secondary-bg);
  padding: var(--button-padding-small-y) var(--button-padding-small-x);
  color: var(--button-secondary-text);
  border-radius: var(--button-radius);
  font-family: var(--button-default-font-family);
  font-size: var(--button-default-font-size);
}

.pauseEndButton:hover {
  background-color: var(--button-secondary-hover-bg);
  border-color: var(--button-secondary-hover-border);
  transition: var(--button-default-transition);
}

.sideNavLink {
  padding: 0;
  margin: 0 0 0 var(--space-12);
  height: 36px;
  border: none;
  background-color: transparent;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  gap: var(--space-12);
  font-family: var(--text-navigation-default-font-family);
  font-size: var(--text-navigation-default-font-size);
  font-weight: var(--text-navigation-default-font-weight);
  line-height: var(--text-navigation-default-line-height);
  cursor: pointer;
  transition: var(--button-default-transition);
}

.sideNav.collapsed .sideNavLink {
  padding-left: 0;
}

.sideNav.collapsed .sideNavIcon {
  margin: 0;
}

.sideNavLabel {
  display: inline-block;
}

.sideNav.collapsed .sideNavLabel {
  width: 0;
  display: none;
}

.sideNavLink:hover {
  font-family: var(--text-navigation-hover-font-family);
  font-weight: var(--text-navigation-hover-font-weight);
  font-size: var(--text-navigation-hover-font-size);
  line-height: var(--text-navigation-hover-line-height);
  transition: var(--button-default-transition);

  .sideNavIcon {
    color: var(--text-navigation-hover-color);
    transition: var(--button-default-transition);
  }
}

.sideNavLink.active {
  font-weight: var(--text-navigation-active-font-weight);
  font-size: var(--text-navigation-active-font-size);
  line-height: var(--text-navigation-active-line-height);
  gap: var(--space-8);

  .sideNavIcon {
    color: var(--text-navigation-active-color);
    width: var(--icon-size-36);
    height: var(--icon-size-36);
    transition: var(--button-default-transition);
  }
}

.sideNavIcon {
  width: var(--icon-size-32);
  height: var(--icon-size-32);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sideNavIcon svg {
  width: 100%;
  height: 100%;
}

.sideNavBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-20);
  height: fit-content;
  padding: 0 0 var(--space-20);
}

.premiumButton {
  margin: 0 0 0 var(--space-12);
  border: 2px solid var(--primary-700);
  background-color: var(--brand-primary);
  color: var(--text-on-dark);
  border-radius: var(--button-radius);
  font-family: var(--button-default-font-family);
  font-size: var(--text-navigation-default-font-size);
  font-weight: var(--font-weight-semibold);
  line-height: var(--text-navigation-default-line-height);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-8);
  padding: var(--space-4) var(--space-48) var(--space-4) var(--space-4);
}

.sideNav.collapsed .premiumButton {
  margin: 0 0 0 var(--space-12);
  padding: var(--space-4);
  border-radius: 8px;
  width: 48px;
  height: 42px;
  margin: 0;
}

.premiumButton svg {
  width: var(--icon-size-32);
  height: var(--icon-size-32);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.premiumButton:hover {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-navigation-active-font-size);
  line-height: var(--text-navigation-active-line-height);
  gap: var(--space-8);
  transition: var(--button-default-transition);
}

.premiumButton:hover svg {
  width: var(--icon-size-36);
  height: var(--icon-size-36);
  transition: var(--button-default-transition);
}

.settingsLink:active svg {
  color: var(--text-navigation-active-color);
  width: 36px;
  height: 36px;
}