@import url("./design_tokens/color_tokens.css");
@import url("./design_tokens/typography_tokens.css");
@import url("./design_tokens/spacing_tokens.css");
@import url("./design_tokens/components.css");

.homeCard {
    border-radius: 20px;
    border: 1px solid var(--border-color-default);
    background-color: var(--background-card-300);
}

.timerCardWrap {
    /* padding: 18px 18px; */
    padding: var(--layout-card-padding);
}

.timerCardWrap .card {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.timerCardWrap .hrRow {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.timerCardWrap .bigTime {
    width: 100px;
    text-align: center;
    font-size: var(--text-heading-1-font-size);
    font-family: var(--text-heading-1-font-family);
    font-weight: var(--text-heading-1-font-weight);
}

.btn {
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;
    border-radius: var(--button-radius);
    padding: var(--button-padding-y) var(--button-padding-x);
    font-size: var(--font-size-s);
    font-family: var(--text-button-label-font-family);
    font-weight: var(--text-button-label-font-weight);
    border: 2px solid var(--primary-700);
    background-color: var(--brand-primary);
    color: var(--text-on-dark);
}

.muted {
    text-align: center;
    font-family: var(--text-body-small-font-family);
    font-size: var(--text-body-small-font-size);
    color: var(--text-secondary);
}

.finishedText {
    margin: 0 auto;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-md);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
    text-align: center;
}

.btnStack {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    max-width: 280px;
    width: 33%;
}

.breakbtn {
    border: 2px solid var(--highlight-300);
    background-color: var(--highlight-200);
    color: var(--text-on-light);
}

.endbtn {
    border: 2px solid transparent;
    background-color: var(--background-300);
    color: var(--text-on-light);
}