:root {

/* ================================================= */
/* BUTTON BASE */
/* ================================================= */

--button-radius: 10px;
--button-border-width: var(--border-width-sm);
--button-border-style: var(--border-style-solid);
--button-gap: var(--space-4);
--button-icon-size: var(--space-4);
--button-default-font-size: var(--font-size-s);

/* ================================================= */
/* BUTTON SHAPE */
/* ================================================= */

--button-shape-default-radius: 10px;
--button-shape-pill-radius: 50%;
--button-shape-min-width: var(--space-10);


/* ================================================= */
/* BUTTON VARIANTS */
/* ================================================= */

/* Primary */
--button-primary-default-bg: var(--primary-300);
--button-primary-default-text: var(--text-on-dark);
--button-primary-default-border: var(--primary-700);

--button-primary-hover-bg: var(--primary-200);
--button-primary-hover-border: var(--primary-400);
--button-primary-hover-text: var(--text-on-light);

--button-primary-active-bg: var(--primary-300);
--button-primary-active-border: var(--primary-700);
--button-primary-active-text: var(--text-on-light);

--button-primary-disabled-bg: var(--background-200);
--button-primary-disabled-text: var(--text-disabled);
--button-primary-disabled-border: var(--border-200);

/* Neutral */
--button-neutral-default-bg: var(--background-card-50);
--button-neutral-default-text: var(--text-on-light);
--button-neutral-default-border: var(--background-400);

--button-neutral-hover-bg: var(--background-200);
--button-neutral-hover-border: var(--background-500);

--button-neutral-active-bg: var(--background-400);
--button-neutral-active-border: var(--background-400);

--button-neutral-disabled-bg: var(--background-200);
--button-neutral-disabled-text: var(--text-disabled);
--button-neutral-disabled-border: var(--border-200);

/* Accent / Highlight */
--button-accent-default-bg: var(--highlight-50);
--button-accent-default-text: var(--text-on-light);
--button-accent-default-border: var(--highlight-300);

--button-accent-hover-bg: var(--highlight-300);
--button-accent-hover-border: var(--highlight-600);

--button-accent-active-bg: var(--highlight-500);
--button-accent-active-border: var(--highlight-800);

--button-accent-disabled-bg: var(--background-200);
--button-accent-disabled-text: var(--text-disabled);
--button-accent-disabled-border: var(--border-200);

/* SELECTION CONTROLS */
/* Checkbox */
--checkbox-size: 28px;
--checkbox-radius: 6px;
--checkbox-icon-size: 12px;
--checkbox-icon-color: var(--text-on-dark);

--checkbox-default-bg: transparent;
--checkbox-default-border: var(--primary-400);

--checkbox-hover-bg: var(--primary-50);
--checkbox-hover-border: var(--border-state-hover);

--checkbox-selected-bg: var(--primary-300);
--checkbox-selected-border: var(--primary-300);

--checkbox-error-bg: var(--error-50);
--checkbox-error-border: var(--border-state-error);

--checkbox-disabled-bg: var(--background-200);
--checkbox-disabled-border: var(--border-state-disabled);

--checkbox-focus-ring-color: var(--primary-200);
--checkbox-focus-ring-width: 2px;

/* Toggle */
--toggle-track-width: 50px;
--toggle-track-height: 28px;
--toggle-track-radius: 20px;
--toggle-thumb-size: 20px;
--toggle-thumb-radius: 50%;
--toggle-border-color: var(--primary-600);

--toggle-off-bg: var(--primary-50);
--toggle-off-thumb: var(--primary-300);

--toggle-hover-bg: var(--primary-200);

--toggle-on-bg: var(--primary-300);
--toggle-on-thumb: var(--primary-50);

--toggle-disabled-bg: var(--background-200);
--toggle-disabled-border: var(--border-state-disabled);

--toggle-focus-ring-color: var(--primary-200);
--toggle-focus-ring-width: 2px;

--toggle-animation-duration: 150ms;
--toggle-animation-easing: ease-in-out;
}