:root {
    /* === ICONS === */
    --icon-size-12: 12px;
    --icon-size-16: 16px;
    --icon-size-24: 24px;
    --icon-size-28: 28px;
    --icon-size-32: 32px;
    --icon-size-36: 36px;
    --close-button-size: var(--font-size-xl);

    /* === BUTTONS === */
    --button-radius: 10px;
    --button-border-style: solid;
    --button-border-width: 2px;

    --button-min-width: fit-content;
    --button-min-height: fit-content;
    --button-padding-x: var(--space-20);
    --button-padding-y: var(--space-8);
    --button-padding-small-x: var(--space-12);
    --button-padding-small-y: var(--space-4);

    --button-default-font-size: var(--font-size-s);
    --button-default-font-family: var(--font-family-heading);
    --button-default-font-weight: var(--font-weight-regular);
    --button-default-line-height: var(--line-height-sm);
    --button-default-text-align: center;

    --button-default-hover-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
    --button-default-transition: all 0.2s ease-in-out;

    /* Primary Button */
    --button-primary-bg: var(--primary-300);
    --button-primary-border: var(--primary-700);
    --button-primary-text: var(--text-on-dark);
    --button-primary-font-weight: var(--font-weight-semibold);
    --button-primary-letter-spacing: 0.01em;

    --button-primary-hover-bg: var(--primary-400);
    --button-primary-hover-border: var(--primary-700);

    --button-primary-active-bg: var(--primary-300);
    --button-primary-active-border: var(--primary-700);

    /* Secondary Button */
    --button-secondary-bg: var(--highlight-50);
    --button-secondary-border: var(--highlight-300);
    --button-secondary-text: var(--text-on-light);

    --button-secondary-hover-bg: var(--highlight-200);
    --button-secondary-hover-border: var(--highlight-400);

    --button-secondary-active-bg: var(--highlight-500);
    --button-secondary-active-border: var(--highlight-800);

    /* Highlight Button */
    --button-highlight-bg: var(--highlight-200);
    --button-highlight-border: var(--highlight-300);
    --button-highlight-text: var(--text-on-light);

    --button-highlight-hover-bg: var(--highlight-300);
    --button-highlight-hover-border: var(--highlight-500);

    --button-highlight-active-bg: var(--highlight-500);
    --button-highlight-active-border: var(--highlight-800);

    /* Neutral Button */
    --button-neutral-bg: var(--background-300);
    --button-neutral-border: var(--background-400);
    --button-neutral-text: var(--text-on-light);

    --button-neutral-hover-bg: var(--background-400);
    --button-neutral-hover-border: var(--background-500);

    --button-neutral-active-bg: var(--background-500);
    --button-neutral-active-border: var(--background-400);

    /* Delete - Logout button */
    --button-red-bg: var(--error-100);
    --button-red-border: var(--error-200);
    --button-red-text: var(--text-on-light);

    --button-red-hover-bg: var(--error-200);
    --button-red-hover-border: var(--error-300);

    --button-red-active-bg: var(--error-300);
    --button-red-active-border: var(--error-400);

    /* === SELECTION CONTROLS === */
    /* Checkbox */
    --checkbox-size: 28px;
    --checkbox-radius: 6px;
    --checkbox-icon-size: var(--icon-size-12);
    --checkbox-icon-color: var(--text-on-dark);

    --checkbox-default-bg: transparent;
    --checkbox-default-border: var(--primary-400);

    --checkbox-hover-bg: var(--primary-200);
    --checkbox-hover-border: var(--border-state-hover);

    --checkbox-selected-bg: var(--primary-300);
    --checkbox-selected-border: var(--primary-300);

    --checkbox-error-bg: var(--error-50);
    --checkbox-error-border: var(--border-state-error);

    --checkbox-disabled-bg: var(--background-200);
    --checkbox-disabled-border: var(--border-state-disabled);

    --checkbox-focus-ring-color: var(--primary-200);
    --checkbox-focus-ring-width: 2px;

    /* Toggle */
    --toggle-track-width: 50px;
    --toggle-track-height: 28px;
    --toggle-track-radius: 20px;
    --toggle-thumb-size: 20px;
    --toggle-thumb-radius: 50%;
    --toggle-border-color: var(--primary-600);

    --toggle-off-bg: var(--primary-50);
    --toggle-off-thumb: var(--primary-300);

    --toggle-hover-bg: var(--primary-200);

    --toggle-on-bg: var(--primary-300);
    --toggle-on-thumb: var(--primary-50);

    --toggle-disabled-bg: var(--background-200);
    --toggle-disabled-border: var(--border-state-disabled);

    --toggle-focus-ring-color: var(--primary-200);
    --toggle-focus-ring-width: 2px;

    --toggle-animation: all 150ms ease-in-out;

    /* --toggle-animation-duration: 150ms; */
    /* --toggle-animation-easing: ease-in-out; */

    /* Slider */
    --slider-track-height: 8px;
    --slider-track-radius: 4px;
    --slider-track-bg: var(--border-300);
    --slider-thumb-size: 24px;
    --slider-thumb-radius: 50%;
    --slider-thumb-bg: var(--primary-300);
    --slider-thumb-hover-bg: var(--primary-400);
    --slider-thumb-hover-shadow: var(--button-default-hover-shadow);

    /* === INPUTS FIELDS === */
    --input-border-radius: 10px;
    --input-border-width: 1px;
    --input-border-style: solid;
    --input-border-color: var(--border-300);

    --input-padding: var(--space-12);
    --input-outline: none;

    --input-focus-box-shadow: 0 0 0 3px var(--border-green-200);
    --input-transition: all 0.2s ease;

    /* === POP UP CARDS === */
    --popupcard-border-radius: 20px;
    --popupcard-padding: var(--space-24);
    --popup-card-box-shadow: 0 28px 64px rgba(0, 0, 0, 0.2);

    /* upgrade cards */
    --premium-card-width: 520px;
    --premium-card-border-radius: 20px;
    --premium-card-background: linear-gradient(140deg, var(--highlight-200) 0%, var(--highlight-100) 30%, var(--background-card-300) 80%);
    --premium-card-shadow: 0px 4px 6px var(--primary-200);
    --premium-card-padding: var(--space-32) var(--space-48);
    --premium-card-bg-blur: var(--backdrop-blur-8);

    /* === EXTRA'S === */
    --opacity-disabled: 0.6;

    --backdrop-blur-2: blur(2px);
    --backdrop-blur-4: blur(4px);
    --backdrop-blur-6: blur(6px);
    --backdrop-blur-8: blur(8px);

    --backdrop-darken: rgba(0, 0, 0, 0.4);
}